asgiref==3.5.2
boto3==1.26.3
botocore==1.29.3
certifi==2022.6.15
charset-normalizer==2.1.1
distlib==0.3.6
dj-database-url==1.0.0
Django==4.1
django-clearcache==1.2.1
django-dotenv==1.4.2
django-filter==22.1
django-sms==0.5.0
django-storages==1.13.1
django-widget-tweaks==1.4.12
filelock==3.8.0
gunicorn==20.1.0
idna==3.3
jmespath==1.0.1
MarkupSafe==2.1.1
Pillow==9.2.0
platformdirs==2.5.3
psycopg2-binary==2.9.5
PyJWT==2.6.0
python-dateutil==2.8.2
python-http-client==3.3.7
pytz==2022.5
reportlab==3.6.11
requests==2.28.1
s3transfer==0.6.0
sendgrid==6.9.7
six==1.16.0
sqlparse==0.4.2
starkbank-ecdsa==2.2.0
twilio==7.15.0
tzdata==2022.2
urllib3==1.26.12
virtualenv==20.16.6
Werkzeug==2.2.2
whitenoise==6.2.0
